.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3em;
  align-items: center;

  .main-menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    align-items: center;
  }
}
