html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  .Toastify__toast-theme--light {
    .nes-text.error {
      color: #e76e55;
    }
    .nes-text.success {
      color: #92cc41;
    }
    .nes-text.warning {
      color: #f7d51d;
    }
    .nes-text.info {
      color: #212529;
    }
    .nes-icon.is-small {
      margin-right: 8px;
    }
  }

  .Toastify__toast {
    font: inherit !important;
    font-size: 80% !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input {
  outline: none !important;
}

.narrow-page-container {
  width: calc((100% - 32px) * 0.8);
}

.wide-page-container {
  width: calc((100% - 32px) * 1);
}

.small {
  font-size: 80%;
}

.gray {
  color: #999;
}

.wide-btn {
  width: 100%;
}
